<!DOCTYPE html>
<html>
    <head>
        <script language = "javascript" 
            src = "https://code.jquery.com/jquery-2.2.4.min.js">
        </script> 
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
